<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container mt-5 bg-custom">
        <h1 class="text-center text-custom mb-4">Tabla Empleado</h1>

        <!-- Formulario con Bootstrap -->
        <form action="/guardar/empleado" method="POST" class="form p-4 rounded shadow-sm">
            <div class="mb-3">
                <label for="Primer_Nombre" class="form-label">Primer Nombre</label>
                <input type="text" class="form-control" id="Primer_Nombre" name="Primer_Nombre" required>
            </div>

            <div class="mb-3">
                <label for="Segundo_Nombre" class="form-label">Segundo Nombre</label>
                <input type="text" class="form-control" id="Segundo_Nombre" name="Segundo_Nombre" required>
            </div>

            <div class="mb-3">
                <label for="Primer_Apellido" class="form-label">Primer Apellido</label>
                <input type="text" class="form-control" id="Primer_Apellido" name="Primer_Apellido" required>
            </div>

            <div class="mb-3">
                <label for="Segundo_Apellido" class="form-label">Segundo Apellido</label>
                <input type="text" class="form-control" id="Segundo_Apellido" name="Segundo_Apellido" required>
            </div>

            <div class="mb-3">
                <label for="Puesto" class="form-label">Puesto</label>
                <input type="text" class="form-control" id="Puesto" name="Puesto" required>
            </div>
            <div class="mb-3">
                <label for="Fecha_Contratacion" class="form-label">Fecha de Contratación</label>
                <input type="date" class="form-control" id="Fecha_Contratacion" name="Fecha_Contratacion" required>
            </div>
            <center>
                <button type="submit" class="btn btn-success">Guardar Empleado</button>
                <a href="/home" class="btn btn-secondary" role="button">Inicio</a>
            </center>

        </form>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>