<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- CSS Personalizaco -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Animate.css (para animaciones simples) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>
<body>
    {{> header }}

    <!-- Main Container -->
    <div class="container mt-5">
        <!-- Sección Menu -->
        <div class="menu bg-custom shadow-sm p-4 rounded animate__animated animate__fadeIn">
            <h2 class="text-center text-custom">Base de Datos Biblioteca</h2>
            <ul class="list-group mt-3">
                <a href="/tabla/pais" class="list-group-item list-group-item-action">
                    Pais
                </a>
                <a href="/tabla/categoria" class="list-group-item list-group-item-action">
                    Categoria
                </a>
                <a href="/tabla/autor" class="list-group-item list-group-item-action">
                    Autor
                </a>
                <a href="/tabla/departamento" class="list-group-item list-group-item-action">
                    Departamento
                </a>
                <a href="/tabla/detalle_prestamo" class="list-group-item list-group-item-action">
                    Detalle_Prestamo
                </a>
                <a href="/tabla/editorial" class="list-group-item list-group-item-action">
                    Editorial
                </a>
                <a href="/tabla/empleado" class="list-group-item list-group-item-action">
                    Empleado
                </a>
                <a href="/tabla/libro" class="list-group-item list-group-item-action">
                    Libro
                </a>
                <a href="/tabla/libro_autor" class="list-group-item list-group-item-action">
                    Libro_Autor
                </a>
                <a href="/tabla/libro_categoria" class="list-group-item list-group-item-action">
                    Libro_Categoria
                </a>
                <a href="/tabla/miembro" class="list-group-item list-group-item-action">
                    Miembro
                </a>
                <a href="/tabla/municipio" class="list-group-item list-group-item-action">
                    Municipio
                </a>
            </ul>
        </div>

        <!-- Sección de Contenido -->
        <div class="content mt-4">
            {{{body}}}
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- JS Personalizado -->
    <script src="/js/scripts.js"></script>
</body>
</html>