/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-weight: bold;
    color: #006400;
}

h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.menu ul {
    padding: 0;
    list-style: none;
}

.menu ul li {
    margin: 0 10px;
}

.nav-link {
    font-weight: 500;
    color: #555;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #006400;
    text-decoration: none;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bg-custom {
    background-color: #99cd32;
    opacity: 0.9;
}

.text-custom {
    color: #006400;
    font-size: 2rem;
}

/* Listas */
.list-group-item {
    background-color: #f8f9fa;
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

/* Formularios */
form {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

form:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.form-control {
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    box-shadow: none;
    transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: none;
}

/* Botones */
.btn {
    padding: 0.5rem 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

/* Footer */
footer {
    background-color: #99cd32;
    opacity: 0.9;
}

footer p {
    color: #ffffff;
    font-size: 0.9rem;
    margin: 0;
}
