body {
    font-family: 'Arial', sans-serif;
    background-color:rgba(153, 205, 50, 0.150);
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
}

.menu ul {
    padding: 0;
}

.menu ul li {
    margin: 10px 0;
}

.list-group-item {
    background-color: #f8f9fa;
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color:rgb(235, 235, 235);
    cursor: pointer;
}

.bg-custom {
    background-color:rgba(153, 205, 50, 0.100);
}

.text-custom {
    color:rgb(0, 100, 0);
}