<!-- src/views/tablaLibros.hbs -->
<h1>Libros</h1>
<form action="/guardar/autor" method="POST">
    <label for="Primer_Nombre">Primer_Nombre:</label>
    <input type="text" id="Primer_Nombre" name="Primer_Nombre" required>

    <label for="Segundo_Nombre">Segundo_Nombre:</label>
    <input type="text" id="Segundo_Nombre" name="Segundo_Nombre" required>

    <label for="Primer_Apellido">Primer_Apellido:</label>
    <input type="text" id="Primer_Apellido" name="Primer_Apellido" required>

    <label for="Segundo_Apellido">Segundo_Apellido:</label>
    <input type="text" id="Segundo_Apellido" name="Segundo_Apellido" required>

    <label for="Id_Pais">Id_Pais:</label>
    <input type="text" id="Id_Pais" name="Id_Pais" required>
    
    <button type="submit">Guardar Autor</button>
</form>
