<!-- src/views/home.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{> header }}

    <div class="menu">
        <h2>Base de Datos Biblioteca</h2>
        <ul>
            <li><a href="/tabla/autor">Autor</a></li>
            <!-- Aquí puedes añadir más tablas en el futuro -->
        </ul>
    </div>

    <div class="content">
        {{{body}}}
    </div>

    <script src="/js/scripts.js"></script>
</body>
</html>
